gunicorn~=20.0.4
uvicorn~=0.13.4
fastapi~=0.63.0
uvloop~=0.15.2
httptools~=0.1.1
couchbase~=3.0.10
pytest~=6.2.3
requests~=2.25.1
pytest-asyncio~=0.15.1
httpx~=0.18.0
PyJWT~=2.1.0
beautifulsoup4~=4.9.3 
